<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Notification Message" ba-panel-class="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <textarea class="form-control" ng-model="message"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" ng-click="submit(message)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>